
:root {
    --primary-dark: #600100;
    --primary-orange: #ea8a2a;
    --primary-red: #e11929;

    --text-dark: #222;
    --bg-light: #f8f8f8;
    --white: #ffffff;
} 

.navbar {
    background-color: var(--primary-dark) !important;
     box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.btn-primary {
    background-color: var(--primary-orange);
    border: none;
}

.badge-offer {
    background-color: var(--primary-red);
    color: white;
}

.navbar-brand {
    font-size: 22px;
    letter-spacing: 1px;
}

.nav-link {
    margin-right: 10px;
    transition: 0.3s;
}

.nav-link:hover {
    color: #ffc107 !important;
}


.dropdown-item {
    cursor: pointer;
}

.hero-section {
    min-height: 90vh;
    background: linear-gradient(135deg, #600100, #1a0000);
    padding: 60px 0;
}

.hero-btn {
    background-color: var(--primary-orange);
    color: white;
    padding: 12px 28px;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
}

.hero-btn:hover {
    background-color: var(--primary-red);
    transform: scale(1.05);
    color: white;
}

.hero-img {
    max-height: 450px;
    border: #e9e9e9 solid 5px;
    border-radius: 15px;
    animation: float 3s ease-in-out infinite;
    box-shadow:0 11px 5px gba(75, 48, 48, 0.3);
}

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-12px); }
    100% { transform: translateY(0px); }
}